body{
    margin: 22px;
    background-image: url(https://showcase-sdb.apps.bancolombia.com/assets/icons/strokes/07.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
}
header{
    width: 150px;
}
img {
    width: 20%;
    display: inline-block;
}
#lnk{
    display: inline-block ;
}

