body{
    margin: 15px;
    background-image: url(https://galatea-dev.apps.ambientesbc.com/2.0.1/assets/icons/strokes/05.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #fff;
}